#root {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter'
 }
 
 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #8e90b2;
    font-size: 14px;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8e90b2;
   font-size: 14px;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8e90b2;
   font-size: 14px;
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #8e90b2;
   font-size: 14px;
 }
 ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #8e90b2;
   font-size: 14px;
 }